@CHARSET "UTF-8";
body{
	font-family: 'Arial', sans-serif;
	
	overflow: hidden;
}

header{
	background: #20314e;
	width: 100%;
	height: 52px;
	position: fixed;
	z-index: 999999;
}
#logo{
	/*display: block;*/
	background:url('../img/logo.png') no-repeat;
	width: 192px;
	height: 52px;

	margin: 0 auto;
}
#main{
	width: 100%;
}
#nav-btn-wrap{
	/* display: inline-block; */

    float: left;
}
#nav-img{
	background:url('../img/icon.png') no-repeat 0px -208px;
	outline: none;
	border: 0;
	width: 52px;
	height: 52px;
}
#nav-unread{
	border-radius: 10px;
	color: #ffffff;
	background: #ff0000;
	position: relative;
	top: -30px;
	left: -25px;
	font-size: 12px;
}

#menu{
	background: #bdcbd5;
	width: 260px;
	height: 100%;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	
	overflow: hidden;
	z-index: -1;
}

#menu-drag{
	background: #bdcbd5;
}

#menu-list ul{
	list-style:none;
}
#menu-list li{
	width: 100%;
	display: block;
	list-style: none;
	font-size: 20px;
	font-weight: bold;
} 
#menu-list a{
	width: 100%;
	display: block;
	text-decoration: none;
	
	border-top: #e5eaee 1px solid;
	border-bottom: #78858d 1px solid;
}

.menu-cls{
	height: 36px;
	background: #394852;
	color: #7cbce6;
	line-height: 36px;
/* 	text-align : center; */
	
	border-top: #54585a 1px solid;
	border-bottom: #494e51 1px solid; 
}

.mcls-text{
	display: block;
	margin-left: 20px;
}

.menu-btn{
	height: 52px;
	background: #bdcbd5;
	color: #165582;
	line-height: 52px;
/* 	text-align : center; */
}

.menu-btn:active{
	background: #85929b;
	color: #fff;
}

.mbtn-text{
	/* width: 250px; */
	height: 52px;
	display: inline;
	position: absolute;
	left: 70px;
}

#mail-unread{
	height: 80px;
	display: inline;
	position: absolute;
	left: 150px;
}

.mbtn-img{
	width: 52px;
	height: 52px;
	display: inline-block;
	
	margin: 0px 0px 0px 10px;
}

#mbtn-onine{
	background:url('../img/icon.png') no-repeat 0px 0px;
}
.menu-btn:active #mbtn-onine{
	background:url('../img/icon.png') no-repeat -52px 0px;
}

#mbtn-category{
	background:url('../img/icon.png') no-repeat -104px 0px;
}
.menu-btn:active #mbtn-category{
	background:url('../img/icon.png') no-repeat -156px 0px;
}

#mbtn-search{
	background:url('../img/icon.png') no-repeat -208px 0px;
}
.menu-btn:active #mbtn-search{
	background:url('../img/icon.png') no-repeat -260px 0px;
}

#mbtn-profile{
	background:url('../img/icon.png') no-repeat 0px -52px;
}
.menu-btn:active #mbtn-profile{
	background:url('../img/icon.png') no-repeat -52px -52px;
}

#mbtn-funds{
	background:url('../img/icon.png') no-repeat -104px -52px;
}
.menu-btn:active #mbtn-funds{
	background:url('../img/icon.png') no-repeat -156px -52px;
}

#mbtn-account{
	background:url('../img/icon.png') no-repeat -208px -52px;
}
.menu-btn:active #mbtn-account{
	background:url('../img/icon.png') no-repeat -260px -52px;
}

#mbtn-favorite{
	background:url('../img/icon.png') no-repeat 0px -104px;
}
.menu-btn:active #mbtn-favorite{
	background:url('../img/icon.png') no-repeat -52px -104px;
}

#mbtn-mail{
	background:url('../img/icon.png') no-repeat -104px -104px;
}
.menu-btn:active #mbtn-mail{
	background:url('../img/icon.png') no-repeat -156px -104px;
}

#mbtn-mail.mbtn-mail-unread{
	background:url('../img/icon.png') no-repeat -208px -208px;
}
.menu-btn:active #mbtn-mail.mbtn-mail-unread{
	background:url('../img/icon.png') no-repeat -260px -208px;
}

#menu-list li.mbtn-m-li-hide{
	display: none;
}

#mbtn-horoscope{
	background:url('../img/icon.png') no-repeat -208px -104px;
}
.menu-btn:active #mbtn-horoscope{
	background:url('../img/icon.png') no-repeat -260px -104px;
}

#mbtn-article{
	background:url('../img/icon.png') no-repeat 0px -156px;
}
.menu-btn:active #mbtn-article{
	background:url('../img/icon.png') no-repeat -52px -156px;
}

#mbtn-help{
	background:url('../img/icon.png') no-repeat -104px -156px;
}
.menu-btn:active #mbtn-help{
	background:url('../img/icon.png') no-repeat -156px -156px;
}

#mbtn-logout{
	background:url('../img/icon.png') no-repeat -208px -156px;
}
.menu-btn:active #mbtn-logout{
	background:url('../img/icon.png') no-repeat -260px -156px;
}

#menu-footer{
	width: 100%;
	height: 300px;

	margin-top: 10px;
}

#menu-a{
	text-align: center;
}

#menu-warn{
	color: #7c858c;
	height: 60px;
	display: block;
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
}

#menu-claim{
	display: block;
	width: 240px;
	height: 100px;
	font-size: 10px;
	color: #7c858c;
	
	margin: 0 auto;
}

.mfa{
	width: 50px;
	text-decoration: underline;
}

.mfat{
	margin: 5px 5px 5px 5px;
	color: #1893bc;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
}
.content-wrap{
	display: none;
}
#content{
	background: white;
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	left: 0;
	top:0;
	
	overflow: hidden;
}

#content-drag{
	background: white;
}

.drag-panel{
	width: 100%;
/* 	height: 100%; */
	position: absolute;
	top: 52px;
}

#member{
	/* display: none; */
}

#signin-bar-640{
	width: 100%;
	height: 80px;
	position: relative;
}
#signin-bar-1024{
	float: right;
 	margin-top: -40px;
	margin-right: 5px; 
}
.join-free-btn{
	background: #ffd001;
	color: #666666;
	font-weight: bold;
}
.join-free-btn:active{
	background: #ff7901;
	color: #fff;
}

.login-btn{
	background: #1c90bb;
	color: #ededed;
	font-weight: bold;
}
.login-btn:active{
	background: #156c8c;
}

.signin-btn-640{
	width: 50%;
	height: 52px;
	text-align: center;
	line-height: 52px;
	font-size: 21px;
	float: left;
	margin-top: 15px;
}

.signin-btn-1024{
	width: 90px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	float: left;
	margin-right:10px;
}
#banner{
	width: 100%;
/* 	height: 120px;
	line-height: 120px; */
	text-align : center;
	position: relative;
	
	margin: 5px 0px 10px 0px;
}
#banner img{
	vertical-align : middle;
}

#psychic-list{
	width: 100%;
	position: relative;

}

.psychic-wrap{
	display: inline-block;
    width: 100px;
	margin: 10px 10px 10px 10px;
}
.psychic-a{
	
	text-decoration: none;
}
.psy-img{
	width: 100%;
}
.psy-name{
	display: block;
	width: 100%;
	height: 20px;
	color: #ffffff;
	text-shadow: 1px 1px 0px #000000, -1px -1px 0px #000000; 
	background: rgba(0, 0, 0, 0.6);
	font-size: 0.8em;
	line-height: 20px;
	text-align: center;
	
	position: relative;
	z-index: 1;
	margin-top: -20px;
}

#page-wrap{
	width: 100%;
	position: relative;
	
	text-align : center;
	top: 10px;
}
#page-wrap ul{
	list-style:none;
}
#page-wrap li{ 
	display: inline-block;
	list-style: none;
	margin: 5px 5px 5px 5px;
} 
#page-wrap a{
	width: 30px;
	height: 30px;
	line-height : 30px; 
	text-align : center;
	display: block;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.page{
	background: #ebebeb;
	color: #a9a9a9;
}
.page-cur{
	background: #3b99ca;
	color: #f9f9f9;
}
.page-ward{
	background: #b6c0c6;
	color: #f0efef;
}

/*小螢幕 */
@media screen and (max-device-width: 1023px) {
	body:after {
        content: 'small';
    }
	#signin-bar-1024{
		display: none;
	}

}
/*大螢幕 */
@media screen and (min-device-width: 1024px) {
	body:after {
        content: 'big';
    }
	#signin-bar-640{
		display: none;
	}

}
