@CHARSET "UTF-8";
#signup-wrap{
	width: 100%;
	/* display: none; */
}
.regi-table{
	width: 300px;
	margin: 0px auto;
}

.regi-table td{
	padding: 10px 0 10px 0;
}
.spareroom{
	display: block;
	width: 100%;
	height: 200px;
}
/******************************************** 
 *register warning message 
 ********************************************/
.regi-warn-wrap{
	display: none;
	border-radius: 5px;
	/* height: 35px; */
	font-size: 14px;
	font-weight: bold;
}
.regi-warn-error{
	background: #2493c1;
	color: #fff;
	border: 2px solid #dad9d9;
	
	line-height: 16px;
	padding: 10px 15px 10px 15px;
}

.regi-warn-bith{
	position: relative;
	top: -35px;
}

.regi-warn-zero{
	background: #ffb0b0;
	color: #f00;
	border: 2px solid #ff5252;
	
	line-height: 18px;
	padding: 5px 20px 5px 20px;
	
}

.mail-change-msg{
	background: #fff5bb;
	color: #716e5c;
	border: 2px solid #fdde51;
	
 	line-height: 18px; 
	padding: 5px 20px 5px 20px;
	margin-top: 10px;
}

.regi-span{
	font-size: 16px;
	color: #3a3a3a;
	font-weight: bold;
}
.regi-input{
	width: 100%;
	height: 35px;
	border: 2px solid #bfbfbf;
	border-radius: 5px;
	font-size: 16px;
}
.regi-select{
	width: 85px;
	height: 40px;
	font-size: 16px;
	border: 2px solid #bfbfbf;
	border-radius: 5px;
}
.regi-btn{
	width: 100%;
	height: 35px;
	border: 2px solid;
	border-radius: 5px;
	font-size: 16px;
	line-height: 35px;
	text-align:center;
}
.birth-month{
	display: block;
	margin: 0px auto;
	position: relative;
	top: -40px
}
.birth-day{
	float: right;
	position: relative;
	top: -80px;
}

/**********************
 * Date of Birth以下要移位
 **********************/
.regi-lift{
	position: relative;
	top: -50px;
}

.signup-submit{
	background: #ffd001;
	border-color: #d98500;
	color: #722300;
	font-weight: bold;
}
.signup-submit:active{
	background: #ff7901;
	border-color: #b7530a;
	color: #fff;
}

.regi-fb{
	background: #1b74bf;
	border-color: #0b3f86;
	color: #ffffff;
	font-weight: bold;
}
.regi-fb:active{
	background: #0d4c81;
}

#signup-policy{
	color: #9a9999;
	font-size: 12px;
	line-height: 25px;
}
.regi-plc-a{
	text-decoration: none;
	color: #279ac0;
}
.regi-plc-a:active{
	text-decoration: underline;
	color: #8bd1ec;
}

.regi-separate{
	/* text-decoration: line-through; */
	width: 118px;
	border-bottom: 2px solid #bfbfbf;
	margin-top: 20px;
}
.regi-s-left{
	float: left;
	margin-left: -15px;
}
.regi-s-right{
	float: right;
	margin-right: -15px;
}
.signup-or{
	width: 275px;
	color: #a3a3a3;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
}

/******************************************** login ***********************************************/

 #login-wrap{
 	/* display: none; */
 }
 #login-suf-wrap{
 	margin-top: 40px;
 	height: 150px;
 }
.suf-seperate{
	height: 2px;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
}
#suf-wrap{
	width: 275px;
	
	margin: 0px auto;
}
.regi-fgpw{
	/* width:100%; */
	/* text-decoration: none; */
	display: block;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}

#login-submit{
	/* background: #1c90bb; */
	border-color: #055a79;
	/* color: #ffffff; */
	font-weight: bold;
}

.suf-no-account{
	width: 275px;
	color: #a3a3a3;
	font-size: 14px;
	line-height: 40px;
	font-weight: normal;
	text-align: center;
}
#joinfree-submit{
	display: block;
	width: 70%;
	margin: 0px auto;
}

/******************************************** signup-success ***********************************************/

#signup-success-wrap{ 
	font-weight: normal;
}
.sus-content-wrap{
	color: #3a3a3a;
	width: 90%;
	margin: 0px auto;
}
.sus-seperate{
	display: block;
	width: 95%;
	margin: 0px auto;
	border-bottom: 1px solid #939292;
}
.sus-content-wrap strong{
	font-weight: bold;
}

#nomail-wrap ul{
	list-style:none;
}
#nomail-wrap li{
	width: 100%;
	display: block;
	list-style: none;
	font-size: 17px;
	line-height: 35px;
	
}
#nomail-wrap a{
	width: 100%;
	height: 35px;
	display: block;
	text-decoration: none;
	background: #186987;
	color: #fff;
	border: #44bae5 1px solid;
	margin: 10px 0px 10px 0px
}
#nomail-wrap a:active{
	background: #39a8d1;
	border: #409dc0 1px solid;
}
.nomail-title{
	font-size: 22px;
	font-weight: bold;
	text-align:center;
}
.nomail-text{
	float: left;
	margin-left: 10px;
} 
.nomail-forward{
	float: right;
	margin-right: 10px;
	font-weight: bold;
}

.sus-content-wrap ol li{
	margin: 10px 0px 0px 20px;
}

/*TODO*/

.update-submit{
	background: #909090;
	border-color: #8b8a8a;
	color: #fff;
	font-weight: bold;
}
.update-submit:active{
	background: #b8b8b8;
	border-color: #9c9c9c;
	color: #fff;
	font-weight: bold;
}
.new-mail-cancel{
	width: 100%;
	display: block;
	text-align: center;
	font-weight: bold;
}

/******************************************** forgot-pwd ***********************************************/

#forgot-pwd-zero-fill{
	margin-top: 15px;
}

#recaptcha_challenge_image{
	border: 1px solid #bfbfbf;
}

.forgot_pwd_icon{
	display: inline-block;
	width: 52px;
	height: 52px;
}
.forgot_pwd_another{
	background:url('../img/icon.png') no-repeat -104px -52px;
}
.forgot_pwd_if_image{
	background:url('../img/icon.png') no-repeat -156px -52px;
}
.forgot_pwd_if_audio{
	background:url('../img/icon.png') no-repeat -260px -52px;
}
.forgot_pwd_help{
	background:url('../img/icon.png') no-repeat -208px -52px;
}

#recaptcha_image{
	text-align: center;
}

#recaptcha_audio_play_again{
	cursor: pointer;
	text-decoration: none;
	color: #279ac0;
	font-weight: bold;
}
#recaptcha_audio_play_again:active{
	text-decoration: underline;
	color: #8bd1ec;
}

#recaptcha_audio_download{
	line-height: 36px;
	text-decoration: none;
	color: #279ac0;
	font-weight: bold;
}
#recaptcha_audio_download:active{
	text-decoration: underline;
	color: #8bd1ec;
}
