@CHARSET "UTF-8";
#signup-wrap{
	width: 100%;
	display: none;
}
.regi-table{
	margin: 0px auto;
}
.regi-table td{
	width: 275px;
	padding: 10px;
}
/******************************************** register warning message ***********************************************/
.regi-warn-wrap{
	display: none;
	border-radius: 5px;
	height: 35px;
	font-size: 12px;
}
.regi-warn-error{
	background: #2493c1;
	color: #fff;
	border: 2px solid #dad9d9;
	
	line-height: 35px;
	padding: 0px 0px 0px 15px;
}

#regi-warn-bith{
	position: relative;
	top: -35px;
}

.regi-warn-zero{
	background: #ffb0b0;
	color: #f00;
	border: 2px solid #ff5252;
	
	
	line-height: 18px;
	padding: 5px 0px 5px 15px;
	
}

.regi-span{
	font-size: 16px;
	color: #3a3a3a
}
.regi-input{
	width: 275px;
	height: 35px;
	border: 2px solid #bfbfbf;
	border-radius: 5px;
	font-size: 16px;
}
.regi-select{
	width: 85px;
	height: 35px;
	font-size: 16px;
	border: 2px solid #bfbfbf;
	border-radius: 5px;
}
.regi-btn{
	width: 100%;
	height: 35px;
	border: 2px solid;
	border-radius: 5px;
	font-size: 16px;
	line-height: 35px;
	text-align:center;
}
#start-month{
	display: block;
	margin: 0px auto;
	position: relative;
	top: -35px
}
#start-day{
	float: right;
	position: relative;
	top: -70px;
}

/*
 * Date of Birth以下要移位
 */
.regi-lift{
	position: relative;
	top: -50px;
}

.signup-submit{
	background: #ffd001;
	border-color: #d98500;
	color: #722300;
	font-weight: bold;
}
#signup-submit-fb{
	background: #1b74bf;
	border-color: #0b3f86;
	color: #ffffff;
	font-weight: bold;
}
#signup-policy{
	color: #9a9999;
	font-size: 12px;
	line-height: 25px;
}
.regi-plc-a{
	/* text-decoration: none; */
	color: #279ac0;
}
.regi-separate{
	/* text-decoration: line-through; */
	width: 118px;
	border-bottom: 2px solid #bfbfbf;
	margin-top: 20px;
}
.regi-s-left{
	float: left;
	margin-left: -15px;
}
.regi-s-right{
	float: right;
	margin-right: -15px;
}
.signup-or{
	width: 275px;
	color: #a3a3a3;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
}

/*
 * 以下為login頁面新增屬性
 */
 #login-wrap{
 	display: none;
 }
 #login-suf-wrap{
 	margin-top: 40px;
 	height: 150px;
 }
.suf-seperate{
	height: 2px;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
}
#suf-wrap{
	width: 275px;
	
	margin: 0px auto;
}
.regi-fgpw{
	/* width:100%; */
	/* text-decoration: none; */
	display: block;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}

#login-submit{
	background: #1c90bb;
	border-color: #055a79;
	color: #ffffff;
	font-weight: bold;
}

.suf-no-account{
	width: 275px;
	color: #a3a3a3;
	font-size: 14px;
	line-height: 40px;
	font-weight: normal;
	text-align: center;
}
#joinfree-submit{
	display: block;
	width: 70%;
	margin: 0px auto;
}
